.list-tag{
    text-decoration: none;
    color: rgb(16, 42, 161);
    border: 1px solid rgb(16, 42, 161);
    display: inline-block;
    border-radius: 2px;
    margin: 0,5rem;
    /* width: 60px; */
}

.list-tag:hover{
    color: white;
    background-color: rgb(16, 42, 161);
}

