.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.background-image{
    width: 100%;
    position: relative;
    height: 100vh;
    background-image: url(../../../image/payment-success.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    /* object-fit: contain; */
   
}